<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Trilby Domain Hosting - Renewal</h1>
    <h2>Your Domain: <%= @url %> is up for renewal</h2>
    <p>
      Your hosting services are up for renewal soon. Your current plan is <%= @package %>
    </p>
    <p>Your renewal date is the <%= @renewal_date %>. If we do not hear from you before this date, we will continue your package and issue an invoice after this date. If you wish to cancel this service, please let us know at <a href="mailto:team@trilby.co.uk">team@trilby.co.uk</a>.</p>
    <p>Regards<br>Support Team<br>Trilby Mutimedia Ltd</p>
  </body>
</html>