<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Trilby Domain Hosting Service Update</h1>
    <h2>Your Domain: <%= @url %></h2>
    <p>
      <%= @service_message.content %>
    </p>
    <p>Regards<br>Support Team<br>Trilby Mutimedia Ltd</p>
  </body>
</html>