<html>
<body>
	<h1>New Booking Notification</h1>

	<p>Date: <%= @booking.training_date.strftime(%d/%m/%Y %hh:%BB) %></p>
	<p>Company/School: <%= @booking.contact_name %></p>
	<p>Contact Name: <%= @booking.contact_name %></p>
	<p>Course: <%= @booking.training_type. %></p>

	<p>This will be added to your diary.</p>
	
</body>
</html>