/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* html tags */
html, body { height:100%; }
body {
  background-color: #f2e9ee;
  color: #333;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 12pt;
  line-height: 18px;
  margin:0;
  padding:0;
  display:block;
}

p, ol, ul, li, td {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 12pt;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
.actions {width:540px;}

footer {
  width:100%;
}
textarea {
  outline:none;
  resize:none;
  width:90%;
  height:100%;
  padding:5px;
  margin-bottom:5px;
  border:3px solid #cccccc;
}

/* Header */
#top {
  padding:0;
  margin:0;
  width:100%;
  background-color:#e8dfe4;
  color:#808080;
  content: "";
  display: table;
  clear: both;
  border-bottom:2px solid black;
}
#header {
  margin-top:10px;
  width:960px;
  float:none;
}
#logo {
  width:200px;
  float:left;
  height:83px;
}
#logo img {
    width:300px;
    padding-left:50%;
}
#logo a {
  display:block;
  padding:14px 0 6px 0;
  text-align: center;
}
#header_nav {
  width:790px;
  float:left;
  margin-left:5px;
  margin-right:5px;
}
#nav {
  height:83px;
  list-style-type: none;
  padding-top: 34px;
  margin: 0 -15px 0 0;
  float: right;
  font-size: 14px;
  line-height: 18px;
  /*text-shadow: 1px 1px 2px #000;*/
  text-transform: uppercase;
  white-space: nowrap;
}
#nav li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
#nav a {
  display:block;
  padding: 5px 15px;
}
#header-line {
  height:5px;
  background-color: #77161F;
  width:100%;
}


/* Content */
#content {
  display:block;
  width:960px;
  padding-left:6%;
  padding-right:6%;
  padding-top:25px;
  padding-bottom:5px;
}

#notice {
  color: green;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/* Classes */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
.form_view {
  float:left;
  width:500px;
  background-color: lightblue;
  margin:15px;
  padding:0 0 0 3px;
  display:block;
}
.form_labels {
  float:left;
  width:250px;
  min-height:200px;
}
.form_fields p {
  margin:5px;
}
.form_fields {
  min-height:200px;
}
.form_fields, .form_fields input {
  float:left;
  margin:5px;
  height:auto;
}