// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 { font-size: 18pt;}
h2 { font-size: 16pt;}
th {
	width:180px;
	text-align: left;
	font-size:14pt;
}

table td{font-size: 10pt;}
table {border-collapse:collapse;}
table, th, td{
	border:1px solid black;
	padding:2px;
	font-size:12pt;
}
td.section_title {font-size:26pt;}

th.booking_invoice_sent {
	width:50px;
	text-align: center;
}

th.booking_approved {
	width:50px;
	text-align: center;
}

th.booking_confirmed {
	width:50px;
	text-align: center;
}

.checkbox {
	text-align: center;
}

#booking_form_view {
	float:left;
	width:500px;
	background-color: lightblue;
	margin:15px;
	padding:0 0 0 3px;
}

#show_labels, .form_labels {
	float:left;
	width:250px;
}

.form_labels label {
	margin-bottom:10px;
	float:left;
	width:250px;
}

.form { 
	float:left;
	display:block;
	width:100%;
}
.form_fields {
	float:left;
	width:250px;
	background-color: lightgrey;
}
#show_fields {
	float:left;
	width:250px;
	background-color: lightgrey;
}
#show_fields p {
	height:18px;
}
.form_fields p {

}
#edit_controls {
	width:500px;
	float:none;
}
.codify textarea {
	font-family:courier;
	font-size:10pt;
	width:100%;
	min-width:300px;
	padding:0 2px;
	height:400px;
	resizeable:false;
}