// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 { font-size: 18pt;}
h2 { font-size: 16pt;}
th {
	width:180px;
	text-align: left;
	font-size:14pt;
}

table, th {
	border:1px black solid;
	padding:2px;
	font-size:12pt;
}
th.booking_invoice_sent {
	width:50px;
	text-align: center;
}

th.booking_approved {
	width:50px;
	text-align: center;
}
th.booking_confirmed {
	width:50px;
	text-align: center;
}
.checkbox {
	text-align: center;
}