// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Courses Index
a.title {
	width:auto;
}
.courses_list {
	margin: 10px 3px;
	width:auto;
}
//  Courses form
#courses_form_view {
	float:left;
	width:960px;
	background-color: lightblue;
	margin:15px;
	padding:0 0 0 3px;
}
#courses_form_labels {
	width:300px;
	margin:5px;
}
#courses_form_fields {
	float:left;
	width:450px;
	background-color: lightgrey;
}
p#courses_form_labels {
	min-height:20px;
	margin-top:5px;
	margin-bottom:5px;
}
#courses_form_fields p {
	margin-top:5px;
	margin-bottom:5px;
}
p.title, label.title {
	height:28px;
}
p.status, label.status {
	height:28px;
}
p.audience , label.audience {
	height:60px;
}
p.description, label.description {
	height:100px;
}
p.outcomes, label.outcomes {
	height:100px;
}
p.equipment, label.equipment {
	height:128px;
}
p.endcost, label.endcost {
	height: 38px;
}
p.contractcost, label.contractcost {
	height: 38px;
}
p.location, label.location {
	height: 38px;
}
p.length, label.length {
	height: 38px;
}
p.category, label.category {
	height: 38px;
}
.edit_course a  {
	font-size:8pt;
	font-color:#ddd;
}

// Show HTML Formats
p.cost_course_fields{
	height:28px;
}
// Web/App Formatting
#web_course_view  {
	float:none;
	width:600px;
	margin-top:60px;
}
.course_fields {
	font-family:helvetica;
	font-size: 16px;
	color: #000;
	margin: 5px;
	padding: 0px;
}
#web_course_view h2 {
	font-size: 31px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	margin-bottom: 30px;
	margin-top: 2px;
}
#web_course_view h3 {
	font-size: 21px;
	font-weight: bold;
	margin: 5px 0 5px 0;
	padding: 0px;
	margin-bottom: 10px;
	margin-top: 2px;
}
#web_course p {
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
	margin-top: 2px;
	font-size: 16px;
}
#web_course_view ul, #web_course_view li {
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
	margin-top: 2px;
	margin-left:15px;
	list-style-position: outside;
}
// #web_course_view li{
// 	margin: 0px;
// 	padding: 0px;
// 	margin-bottom: 10px;
// 	margin-top: 2px;
// 	list-style-type: disc;
// 	list-style-position: outside;
// 	margin-left: 20px;
// }
.updated {
	font-size: 10px;
	font-style: italic;
}
.draft {
	font-size :8pt;
	border: 1px solid #000;
	padding:2px;
	width:40px;
	float:none;
}
.not_draft {
	font-size :8pt;
	border: 1px solid #000;
	padding:2px;
	width:40px;
	float:none;
}