// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#courses_form_view {
	float:left;
	width:750px;
	background-color: lightblue;
	margin:15px;
	padding:0 0 0 3px;
}
#courses_form_labels {
	width:300px;
}
#courses_form_fields {
	float:left;
	width:450px;
	background-color: lightgrey;
}
p#courses_form_labels {
	min-height:20px;
	margin-top:5px;
	margin-bottom:5px;
}
#courses_form_fields p {
	margin-top:5px;
	margin-bottom:5px;
}
.title, #course_title textarea {
	height:0px;
}
p#course_audience textarea {
	height:60px;
}
.description, #course_description, #course_description textarea {
	height:100px;
}
.outcomes, #course_outcomes textarea {
	height:100px;
}
.equipment, .equipment textarea {
	height:100px;
}
.endcost, #course_endcost {
	height: 30px;
}
.contractcost, #course_contractcost{
	height: 30px;
}
.location, #course_location {
	height: 30px;
}
.category, #course_category {
	height: 30px;
}
.edit_course a  {
	font-size:8pt;
	font-color:#ddd;
}

// Show HTML Formats
p.cost_course_fields{
	margin:10px;
	padding:10px 15px;
	background-color: #ccd;
	border:1px solid #000;
	width:85px;
	height:40px;
}
// Web/App Formatting
#web_course_view  {
	float:none;
	width:600px;
	margin-top:60px;
}
.course_fields {
	font-family:helvetica;
	font-size: 16px;
	color: #000;
	background-color: #FFF;
	margin: 5px;
	padding: 0px;
}
#web_course_view h2 {
	font-size: 31px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	margin-bottom: 30px;
	margin-top: 2px;
}
#web_course_view h3 {
	font-size: 21px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	margin-top: 2px;
}
#web_course p {
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
	margin-top: 2px;
	font-size: 16px;
}
#web_course_view ul {
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
	margin-top: 2px;
}
#web_course_view li{
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	margin-top: 2px;
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 20px;
}
.updated {
	font-size: 10px;
	font-style: italic;
}